.App {
  margin-top: 20px;
  text-align: center;
  /* background: radial-gradient(1000px 1000px at 80% 10%, #1a1f39 0%, #0f1220 45%, #0b0e19 100%); */
  min-height: 100vh;
}

.nav {
  width: 95%;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  margin: auto;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* keep it behind */
}

/* html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  /* background: #0b0e19;
  color: white; */
 

.section {
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* .home { background: transparent; }
.about { background: #11142b; }
.skills { background: #1a1f39; }
.projects { background: #0f1220; }
.contact { background: #14172f; } */

.accent {
  color: #6ea8fe;
  font-weight: bold;
}


